.navBar {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 25px;
    padding-right: 40px;
    padding-left: 40px;
    background-color: #6EA4BF;
    margin: 0;
    height: 75px;
    color: white;
}

img {
    height: 50px;

}

/* link styles */
a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: gold;
}

/* log in */
#loginLink {
    margin-left: auto;
}